<!DOCTYPE html>
  <html>
    <head>
      <title>Template Inheritance Example</title>
    </head>
    <body>
      <h1>Title stored in the base template</h1>
      <h2>Subtitle</h2>

      {% block content %} {% endblock %}

    </body>
  </html>
